// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//https://tailwindcss.com/docs/using-with-preprocessors/
// Variables
@import 'variables';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}