@import url('https://fonts.googleapis.com/css?family=Nunito');

//sweetalert2
// @import "node_modules/sweetalert2/src/colors";
// @import "node_modules/sweetalert2/src/sweetalert2";
@import '~sweetalert2/src/sweetalert2.scss';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}