<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div  class="m-b-md">
                <h2 class="title m-b-md">
                    Hai
                </h2>
                <h3>
                    <button class="bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded" id="login">Login</button>

                    Hellow vue
                </h3>
            </div>
        </div>
    </div>
</template>