/*==========Base==========*/
/*@variables*/
/*$body-background-color: #FFF !default;*/
/*$base-font-color: #333 !default;*/
/*$base-link-color: #0088cc !default;*/
/*$base-font-weight: normal !default;*/
/*$base-font-size: px-to-rems(16) !default;*/
/*$base-font-family: 'Open Sans', 'Helvetica Neue' !default;*/
/*$base-line-height: 1 !default;*/
/*Text variations*/
/*$muted-text-color: #666666 !default;*/
/*$error-text-color: #c0392b !default;*/
/*$success-text-color: #27ae60 !default;*/
/*==========Buttons==========*/
/*@variables*/
/*@import "functions";*/
/*Padding sizes for buttons*/
/*$button-default: px-to-rems(4) px-to-rems(13) !default;*/
/*$button-mini: 0 px-to-rems(6) !default;*/
/*$button-small: px-to-rems(2) px-to-rems(11) !default;*/
/*$button-large:  px-to-rems(12) px-to-rems(21) !default;*/
/*$button-xlarge: px-to-rems(22) px-to-rems(34) !default;*/
/*$button-xxlarge: px-to-rems(22.72) px-to-rems(22) px-to-rems(57) !default;*/
/*Buttons style*/
/*$button-display: inline-block !default;*/
/*$button-border-width: 1px !default;*/
/*$button-border-style: solid !default;*/
/*$button-default-background-color: #2E323E !default;*/
/*Buttons general styles*/
/*$button-font-family: $base-font-family !default;*/
/*$button-font-color: #FFF !default;*/
/*$button-font-weight: 300 !default;*/
/*$button-font-default: px-to-rems(14) !default;*/
/*$button-font-mini: px-to-rems(11) !default;*/
/*$button-font-small: px-to-rems(12) !default;*/
/*$button-font-large: px-to-rems(16) !default;*/
/*$button-font-xlarge: px-to-rems(22) !default;*/
/*$button-font-xxlarge: px-to-rems(22) !default;*/
/*$button-vertical-separation: px-to-rems(5) !default;*/
/*Buttons variations*/
/*$button-radius: px-to-rems(3) !default;*/
/*$button-alpha-border: 1px solid #FFF !default;*/
/*$button-alpha-color: #FFF !default;*/
/*$button-3d-border-width: px-to-rems(3) !default;*/
/*$button-pill-radius: px-to-rems(1000) !default;*/
/*$button-disabled-opacity: 0.65 !default;*/
/*Icons*/
/*$button-icon-separation: 5px !default;*/
/*Background variations*/
/*$button-primary-background: #3498db !default;*/
/*$button-success-background: #2ecc71 !default;*/
/*$button-danger-background: #e74c3c !default;*/
/*$button-warning-background: #e67e22 !default;*/
/*Media queries*/
/*$button-block-media-query-width: px-to-rems(480) !default;*/
/*==========Button groups==========*/
/*@variables*/
/*$sm-device-width: 480px !default;*/
/*Media queries*/
/*Variations*/
/*$button-radius: px-to-rems(3) !default;*/
/*$button-pill-radius: px-to-rems(1000) !default;*/
/*==========Alerts==========*/
/*@variables*/
/*General settings*/
/*$alert-padding: px-to-rems(9) px-to-rems(40) px-to-rems(9) px-to-rems(16) !default;*/
/*$alert-margin-bottom: px-to-rems(20) !default;*/
/*$alert-font-size: px-to-rems(13) !default;*/
/*$alert-font-weight: normal !default;*/
/*$alert-default-background: #e67e22 !default;*/
/*Close settings*/
/*$alert-close-font-size: px-to-rems(16) !default;*/
/*$alert-close-opacity: 0.3 !default;*/
/*$alert-close-hover-opacity: 0.5 !default;*/
/*$alert-close-padding: px-to-rems(5) !default;*/
/*$alert-close-color: #333 !default;*/
/*Variations*/
/*$alert-radius: px-to-rems(3) !default;*/
/*$alert-round: px-to-rems(1000) !default;*/
/*Alert styles*/
/*$alert-border-width: px-to-rems(1) !default;*/
/*$alert-border-style: solid !default;*/
/*Background variations*/
/*$alert-primary-background: #3498db !default;*/
/*$alert-success-background: #2ecc71 !default;*/
/*$alert-danger-background: #e74c3c !default;*/
/*==========Experimental - Use of edge and modern cases that may work or not on certain browsers==========*/
/*@variables*/
/*$input-addon-margin-bottom: 1rem !default;*/
/*$addon-border-width: 1px !default;*/
/*$addon-border-style: solid !default;*/
/*$addon-border-color: rgba(147, 128, 108, 0.25) !default;*/
/*$addon-padding: 0.5rem !default;*/
/*$addon-background-color: rgba(147, 148, 108, 0.1) !default;*/
/*$addon-font-color: #666 !default;*/
/*$addon-font-weight: 400 !default;*/
/*$addon-font-size: 14px !default;*/
/*$include-addon-radius: false !default;*/
/*$addon-radius: 2px !default;*/
/*Addon color variations*/
/*$addon-warning-bg-color: rgba(211, 84, 0, 0.6);*/
/*$addon-danger-bg-color: rgba(231, 76, 60, 0.6);*/
/*$addon-primary-bg-color: rgba(52, 152, 219, 0.6);*/
/*=========Forms==========*/
/*@variables*/
/*Form Label*/
/*$form-label-display: block !default;*/
/*$form-label-cursor: pointer !default;*/
/*$form-label-font-size: px-to-rems(13) !default;*/
/*$form-label-color: scale-color(#000, $lightness: 30%) !default;*/
/*$form-label-font-weight: 300 !default;*/
/*$form-label-margin-bottom: px-to-rems(5) !default;*/
/*$form-input-border-width: 1px !default;*/
/*$form-input-border-style: solid !default;*/
/*$form-inline-label-margin-left: px-to-rems(3) !default;*/
/*Form inputs*/
/*$form-input-radius: 0 !default;*/
/*$form-input-height: px-to-rems(32) !default;*/
/*$form-input-color: rgba(0,0,0, 0.75) !default;*/
/*$form-input-font-size: px-to-rems(13) !default;*/
/*$form-input-padding: px-to-rems(5) !default;*/
/*$form-input-margin-bottom: px-to-rems(11) !default;*/
/*$form-input-box-shadow: inset 0 1px 2px rgba(#ccc,0.35) !default;*/
/*$form-input-focus-box-shadow: 0 0 5px rgba(#ccc, 1) !default;*/
/*$form-input-focus-border-color: #999 !default;*/
/*$form-input-background-color: #FFF !default;*/
/*$form-input-border-color: #CCC !default;*/
/*$form-input-disabled-color: #ECF0F1 !default;*/
/*$form-input-disabled-background-color: #EEE !default;*/
/*$form-input-mini-width: 20% !default;*/
/*$form-input-small-width: $form-input-mini-width * 2 !default; */
/*$form-input-medium-width: $form-input-mini-width * 3 !default;*/
/*$form-input-large-width: $form-input-mini-width * 4 !default;*/
/*Validation states*/
/*$form-label-success-color: #27ae60 !default;*/
/*$form-label-error-color: #e74c3c !default;*/
/*$form-input-success-border-color: $form-label-success-color !default;*/
/*$form-input-error-border-color: $form-label-error-color !default;*/
/*Help hints*/
/*$form-help-hint-color: #FFF !default;*/
/*$form-help-hint-font-size: px-to-rems(11) !default;*/
/*$form-help-hint-font-style: italic !default;*/
/*$form-help-hint-padding: px-to-rems(5) !default;*/
/*Selects*/
/*$form-select-background-color: #FFF !default;*/
/*$form-select-border-style: solid !default;*/
/*$form-select-border-width: 1px !default;*/
/*$form-select-border-color: #CCC !default;*/
/*$form-select-color: #555 !default;*/
/*$form-select-font-size: px-to-rems(14) !default;*/
/*$form-select-hover-background: #F7F7F7 !default;*/
/*$form-select-padding: px-to-rems(5) px-to-rems(7) !default;*/
/*$form-select-radius: 2px !default;*/
/*$form-select-transition-time: 2s !default;*/
/*$form-select-transition-style: linear !default;*/
/*$form-select-backgroun-x-position: 97% !default;*/
/*$include-form-select-transition: true !default;*/
/*==========Grid==========*/
/*@variables*/
/*Grid settings*/
/*$number-of-columns: 12 !default;*/
/*$column-separation-factor: 0.1833 !default;*/
/*Row config*/
/*$row-text-rendering: optimizespeed !default;*/
/*$row-next-to-row-separation: 0.14285714rem !default;*/
/*Columns settings*/
/*$col-top-padding: 8px !default;*/
/*$col-right-padding: 8px !default;*/
/*$col-bottom-padding: 8px !default;*/
/*$col-left-padding: 0 !default;*/
/*$col-padding: $col-top-padding $col-right-padding $col-bottom-padding $col-left-padding !default;*/
/*Stack columns*/
/*$stack-column-separation: 2px !default;*/
/*$stack-column-padding-right: 0 !default;*/
/*$stack-column-padding-left: 0 !default;*/
/*Media*/
/*$grid-max-width: 54.85714286rem !default;*/
/*Row variations*/
/*$grid-primary-background-color: rgba(52, 152, 219, 0.8) !default;*/
/*$grid-danger-background-color: rgba(231, 76, 60, 0.8) !default;*/
/*$grid-warning-background-color: rgba(241, 196, 15, 0.8) !default;*/
/*$grid-success-background-color: rgba(46, 204, 113, 0.8) !default;*/
/*columns border*/
/*$col-border-color: #FFF !default;*/
/*$col-border-alpha: 0.5 !default;*/
/*==========Images==========*/
/*//@variables*/
/*Images variations*/
/*$img-radius: px-to-rems(3) !default;*/
/*$img-round: 50rem !default;*/
/*Image general settings*/
/*$img-polaroid-padding: 0.28571429rem !default;*/
/*$img-polaroid-background: #FFF !default;*/
/*$img-polaroid-border-width: 0.07142857rem !default;*/
/*$img-polaroid-border-style: solid !default;*/
/*$img-polaroid-border-color: rgba(#000, 0.2) !default;*/
/*$img-display: inline-block !default;*/
/*$img-frame-margin: 5px !default;*/
/*Experimental*/
/*$include-img-experimental: true !default;*/
/*$include-img-flexible-ratios: true !default;*/
/*==========Labels==========*/
/*//@variables*/
/*Label general settings*/
/*$label-padding: px-to-rems(3) px-to-rems(6) !default;*/
/*$label-font-size: px-to-rems(11) !default;*/
/*$label-font-weight: normal !default;*/
/*$label-font-color: #FFF !default;*/
/*$label-font-shadow-alpha: 0.20 !default;*/
/*$label-font-shadow-x: 0 !default;*/
/*$label-font-shadow-y: -1px !default;*/
/*$label-hover-decoration: none !default;*/
/*$label-default-background:  #95A5A6 !default;*/
/*Label variations*/
/*$label-radius: px-to-rems(3) !default;*/
/*$label-round: px-to-rems(1000) !default;*/
/*Label background variations*/
/*$label-primary-background: #3498db !default;*/
/*$label-success-background: #2ecc71 !default;*/
/*$label-danger-background: #e74c3c !default;*/
/*$label-warning-background: #e67e22 !default;*/
/*==========Modal==========*/
/*@variables*/
/*General settings*/
/*$modal-width: 80% !default;*/
/*$modal-margin-left: ((40 * $modal-width) / 80) !default;*/
/*$modal-z-index: 1050 !default;*/
/*$modal-color: #FFF !default;*/
/*$modal-top-position: px-to-rems(80) !default;*/
/*$modal-position: absolute !default;*/
/*Modal styles*/
/*$modal-primary-background-color: #3498DB !default;*/
/*$modal-default-background-color: #F0F0F0 !default;*/
/*$modal-danger-background-color: #E74C3C !default;*/
/*$modal-funky-background-color: #9b59b6 !default;*/
/*$modal-warning-background-color: #e67e22 !default;*/
/*$modal-success-background-color: #2ecc71 !default;*/
/*$modal-info-background-color: #34495e !default;*/
/*Modal content*/
/*$modal-content-padding: px-to-rems(15) px-to-rems(40) px-to-rems(30) !default;*/
/*$modal-content-font-weight: 300 !default;*/
/*$modal-content-font-size: px-to-rems(18) !default;*/
/*$modal-content-ul-padding: 0 0 px-to-rems(30) px-to-rems(20) !default;*/
/*$modal-content-list-item-padding: px-to-rems(5) 0 !default;*/
/*Overlay*/
/*$modal-overlay-z-index: $modal-z-index - 10 !default;*/
/*$modal-overlay-background: #000 !default;*/
/*$modal-overlay-background-opacity: 0.8 !default;*/
/*$modal-overlay-show-opacity: 1 !default;*/
/*Header*/
/*$modal-header-padding: px-to-rems(6) !default;*/
/*$modal-header-text-align: center !default;*/
/*$modal-header-font-size: px-to-rems(38) !default;*/
/*$modal-header-font-weight: $modal-content-font-weight !default;*/
/*$modal-header-background-color: #000 !default;*/
/*$modal-header-opacity: 0.8 !default;*/
/*Modal variations*/
/*$modal-radius: px-to-rems(3) !default;*/
/*Modal footer*/
/*$modal-footer-padding: px-to-rems(10) 0 !default;*/
/*Modal extra themes*/
/*$include-modal-extra-themes: false !default;*/
/*$include-fade-in-scale-up-effect: true !default;*/
/*$include-slide-from-right-effect: true !default;*/
/*$include-slide-from-bottom-effect: true !default;*/
/*$include-fall-effect: true !default;*/
/*$include-slide-stick-effect: true !default;*/
/*$include-super-scaled-effect: true !default;*/
/*==========Nav==========*/
/*@variables*/
/*Navigation settings*/
/*$navigation-style-type: none !default;*/
/*$navigation-list-position: inside !default;*/
/*$navigation-padding: 1rem 0 !default;*/
/*$navigation-link-color: #777 !default;*/
/*Navigation list items*/
/*$navigation-list-item-font-size: 0.9rem !default;*/
/*$navigation-list-item-margin-bottom: 0.1 !default;*/
/*$navigation-list-item-active-color: #08C !default;*/
/*$navigation-list-link-hover-color: $navigation-list-item-active-color !default;*/
/*$navigation-list-link-hover-text-decoration: none !default;*/
/*$navigation-list-link-padding: 0.333rem 0 !default;*/
/*$navigation-list-link-display: inline-block !default;*/
/*Navigation list header*/
/*$navigation-header-text-transform: uppercase !default;*/
/*$navigation-header-padding: 0.333rem 0 !default;*/
/*$navigation-header-color: #333 !default;*/
/*$navigation-header-font-size: 0.85714286rem !default;*/
/*Navigation divider*/
/*$navigation-divider-border-width: 1px !default;*/
/*$navigation-divider-border-color: #EFEFEF !default;*/
/*$navigation-divider-margin: 8px 0 !default;*/
/*Navigation variations*/
/*$navigation-inline-margin-bottom: 0.55rem !default;*/
/*$navigation-inline-active-background: #1abc9c !default;*/
/*$navigation-inline-active-radius: 0.14285714rem !default;*/
/*$navigation-inline-active-color: #FFF !default;*/
/*$navigation-inline-active-padding: 0.21428571rem !default;*/
/*$navigation-inline-link-color: #999 !default;*/
/*$navigation-inline-link-hover: #08C !default;*/
/*==========Navigation bar==========*/
/*@variables*/
/*Navigation general settings*/
/*$navigation-bar-background: #191818 !default;*/
/*$navigation-margin-bottom: 10px !default;*/
/*$navigation-bar-color: #FFF !default;*/
/*$navigation-bar-font-weight: 300 !default;*/
/*$navigation-font-size: px-to-rems(13) !default;*/
/*$navigation-fixed-z-index: 1030 !default;*/
/*$navigation-bar-border-bottom: transparent !default;*/
/*$navigation-bar-divider-color: scale-color($navigation-bar-background, $lightness: 13%) !default;*/
/*Brand section*/
/*$navigation-bar-brand-section-font-size: px-to-rems(18) !default;*/
/*$navigation-bar-brand-section-font-weight: 400 !default;*/
/*Navigation links settings*/
/*$navigation-bar-link-color: #FFF !default;*/
/*$navigation-bar-link-hover-color: #999 !default;*/
/*$navigation-bar-link-hover-decoration: none !default;*/
/*$navigation-bar-hover-link-background-color: darken($navigation-bar-background, 5%) !default;*/
/*Buttons settings*/
/*$navigation-bar-button-font-size: $navigation-font-size !default;*/
/*$navigation-bar-button-height: 35px !default;*/
/*$navigation-bar-button-margin-left: px-to-rems(8) !default;*/
/*$navigation-bar-button-margin-right: px-to-rems(8) !default;*/
/*$navigation-bar-menu-color: #FFF !default;*/
/*Icons settings*/
/*$navigation-bar-icon-margin-right: 5px !default;*/
/*Text settings*/
/*$navigation-bar-text-color: #CCC !default;*/
/*Active items*/
/*$navigation-bar-active-color: #FFF !default;*/
/*$navigation-bar-active-hover-color: darken($navigation-bar-active-color, 5%) !default;*/
/*Menu toggle*/
/*$navigation-bar-menu-toggle-text-transform: uppercase !default;*/
/*Dropdown*/
/*$navigation-bar-arrow-color: $navigation-bar-link-color !default;*/
/*$navigation-bar-arrow-hover-color: $navigation-bar-link-hover-color !default;*/
/*$navigation-bar-dropdown-z-index: $navigation-fixed-z-index + 10 !default;*/
/*$navigation-bar-dropdown-header-text-transform: uppercase !default;*/
/*$navigation-bar-dropdown-header-padding: px-to-rems(9) px-to-rems(17) px-to-rems(2) !default;*/
/*$navigation-bar-dropdown-header-color: #777 !default;*/
/*$navigation-bar-dropdown-header-font-weight: bold !default;*/
/*$navigation-bar-dropdown-header-font-size: px-to-rems(8) !default;*/
/*$navigation-bar-dropdown-divider-height: px-to-rems(1) !default; */
/*$navigation-bar-dropdown-anchor-height: 45px !default;*/
/*$navigation-bar-dropdown-anchor-line-height: $navigation-bar-dropdown-anchor-height !default;*/
/*$navigation-bar-dropdown-right-position: 0px !default;*/
/*$navigation-bar-dropdown-border: 1px solid lighten($navigation-bar-background, 10%);*/
/*$include-navigation-bar-dropdown-top-border: false;*/
/*$navigation-bar-dropdown-radius: 3px;*/
/*Media*/
/*$media-collapse-width: 768px !default;*/
/*==========Off screen==========*/
/*@variables*/
/*General*/
/*$off-screen-navigation-color: #EFEFEF !default;*/
/*$off-screen-navigation-width: 80% !default;*/
/*$off-screen-navigation-font-weight: 100 !default;*/
/*$off-screen-navigation-background-color: #333 !default;*/
/*$off-screen-z-index: 1 !default;*/
/*$off-screen-left-padding: 1rem !default;*/
/*$off-screen-vertical-padding: 0.7rem !default;*/
/*$off-screen-text-shadow-color: $off-screen-navigation-color !default;*/
/*$off-screen-text-shadow-alpha: 0.1 !default;*/
/*Links*/
/*$off-screen-font-size: 1.2rem !default;*/
/*$off-screen-include-link-hover-transition: true !default;*/
/*$off-screen-link-padding: 1rem !default;*/
/*$include-separator-to-links: true !default;*/
/*List Header*/
/*$off-screen-list-header-transform: uppercase !default;*/
/*$off-screen-list-header-font-weight: bold !default;*/
/*$off-screen-list-header-font-size: 0.7rem !default;*/
/*Divider*/
/*$off-screen-divider-color: lighten($off-screen-navigation-background-color, 10%) !default;*/
/*$off-screen-divider-margin: 0.21428571rem !default;*/
/*Back link*/
/*$off-screen-back-link-padding: 0.5rem 1rem !default;*/
/*$off-screen-back-link-font-weight: 300 !default;*/
/*$off-screen-back-link-letter-spacing: 1px !default;*/
/*$off-screen-back-link-font-size: 0.9rem !default;*/
/*$off-screen-back-link-background: rgba(#000, 0.1) !default;*/
/*$off-screen-back-link-text-transform: uppercase !default;*/
/*$off-screen-back-link-border-color: #000 !default;*/
/*$off-screen-back-link-border-alpha: 0.2 !default;*/
/*Header*/
/*$off-screen-header-padding: 1rem !default;*/
/*$off-screen-header-font-weight: 200 !default;*/
/*$off-screen-toggle-menu-left-position: 0.71428571rem !default;*/
/*$off-screen-toggle-menu-brand-name-padding-left: $off-screen-toggle-menu-left-position + 1.42857143rem !default;*/
/*$off-screen-toggle-color: #FFF !default;*/
/*Menu toggle*/
/*$off-screen-toggle-padding-left: px-to-rems(34) !default;*/
/*==========Pagination==========*/
/*@variables*/
/*$pagination-bg-color: #2980b9 !default;*/
/*$pagination-margin: 0 !default;*/
/*$pagination-color: #08c !default;*/
/*$pagination-font-size: px-to-rems(13) !default;*/
/*$pagination-list-items-padding: px-to-rems(2) px-to-rems(9) !default;*/
/*$pagination-border-radius: 0px !default;*/
/*$pagination-active-items-bg-color: $pagination-bg-color !default;*/
/*$pagination-active-items-color: #FFF !default;*/
/*$pagination-disabled-color: #FFF !default;*/
/*$pagination-disabled-cursor: not-allowed !default;*/
/*$include-pagination-transition-list-items: true !default;*/
/*Pagination alignment*/
/*$include-pagination-alignment-center: true !default;*/
/*$include-pagination-alignment-right: true !default;*/
/*==========Responsive utilities==========*/
/*@variables*/
/*General settings*/
/*$media-display: "only screen" !default;*/
/*Responsive screen sizes*/
/*$extra-small-screen: 34.28571429rem !default;*/
/*$extra-small-screen-max: 34.21428571rem !default;*/
/*$small-screen: 54.85714286rem !default;*/
/*$small-screen-max: 54.78571429rem !default;*/
/*$medium-screen: 70.85714286rem !default;*/
/*$medium-screen-max: 70.78571429rem !default;*/
/*$large-screen: 85.71428571rem !default;*/
/*Responsive screen orientations*/
/*==========Suraido slider==========*/
/*@variables*/
/*General*/
/*$suraido-slider-min-height: 330px !default;*/
/*$suraido-item-min-height: 25rem !default;*/
/*Pagination*/
/*$suraido-pagination-position: 0 !default;*/
/*$suraido-list-width: 300% !default;*/
/*$suraido-list-item-width: 33% !default;*/
/*$suraido-pagination-z-index: 20 !default;*/
/*Dots*/
/*$suraido-dot-size: 0.71428571rem !default;*/
/*$suraido-dot-separation: 0.28571429rem !default;*/
/*$suraido-dot-border-width: 0.14285714rem !default;*/
/*$suraido-dot-border-style: solid !default;*/
/*$suraido-dot-border-color: #CCC !default;*/
/*$suraido-dot-radius: 0.42857143rem !default;*/
/*$suraido-dot-opacity: 0.4 !default;*/
/*$suraido-include-dot-transition: true !default;*/
/*$suraido-dot-transition: background 0.5s, opacity 0.5s !default;*/
/*$suraido-dot-active-background-color: #444 !default;*/
/*$suraido-dot-active-opacity: 1 !default;*/
/*$suraido-dot-background: #CCC;*/
/*Arrows*/
/*$suraido-arrows-color: #FFF !default;*/
/*$suraido-arrows-z-index: $suraido-pagination-z-index - 10 !default;*/
/*$suraido-arrow-height: 60px !default;*/
/*$suraido-arrow-line-height: $suraido-arrow-height !default;*/
/*$suraido-next-arrow-padding: 15px !default;*/
/*$suraido-prev-arrow-padding: 15px !default;*/
/*Caption*/
/*$suraido-caption-font-size: 14px !default;*/
/*$suraido-caption-bottom-position: 30px !default;*/
/*$suraido-caption-height: 50px !default;*/
/*$suraido-caption-color: #FFF !default;*/
/*$suraido-caption-font-weight: lighter !default;*/
/*$suraido-caption-padding-top: 10px !default;*/
/*$suraido-caption-padding-left: 10px !default;*/
/*$suraido-caption-background: #000 !default;*/
/*$suraido-caption-background-alpha: 0.5 !default;*/
/*==========Tables==========*/
/*@variables*/
/*General settings*/
/*$table-background-color: #FFF !default;*/
/*$table-margin-bottom: px-to-rems(20) !default;*/
/*$table-cell-padding: px-to-rems(10) !default;*/
/*$table-line-height: px-to-rems(18) !default;*/
/*$table-cell-alignment: left !default;*/
/*$table-border-color: #d2d2d2 !default;*/
/*$table-border-width: 1px !default;*/
/*$table-border-style: solid !default;*/
/*$table-color: #666 !default;*/
/*$table-font-weight: 300 !default;*/
/*$table-head-font-weight: 500 !default;*/
/*$table-head-letter-spacing: 1px !default;*/
/*$headers-with-uppercase: false !default;*/
/*Variations*/
/*$table-condensed-padding: 0.28571429rem 0.35714286rem !default;*/
/*$table-striped-background-color: #f9f9f9 !default;*/
/*$table-bordered-border-width: 1px !default;*/
/*$table-bordered-border-style: solid !default;*/
/*Media queries*/
/*$media-display: "only screen" !default;*/
/*$media-max-width: 768px !default; //~ 768px*/
/*Responsive tables*/
/*$include-responsive-tables: true !default;*/
/*$table-responsive-pinned-background: #FFF !default; */
/*$table-responsive-pinned-border-right: 1px solid #CCC !default;*/
/*$table-responsive-pinned-border-left: $table-responsive-pinned-border-right !default;*/
/*$table-responsive-wrapper-border-right: $table-responsive-pinned-border-right !default;*/
/*==========Tabs==========*/
/*@variables*/
/*$tabu-content-margin-left: $navigation-inline-list-item-margin-left !default;*/
/*==========Toolbars==========*/
/*@variables*/
/*$toolbar-background-color: #232323 !default;*/
/*$toolbar-border-radius: 0px !default;*/
/*$toolbar-item-height: 34px !default;*/
/*$toolbar-item-line-height: $toolbar-item-height !default;*/
/*$toolbar-item-width: 44px !default;*/
/*$toolbar-item-color: #FFF !default;*/
/*$toolbar-arrow-border-width: 7px !default;*/
/*Toolbar variations*/
/*$include-toolbar-variations: false !default;*/
/*$toolbar-primary-background-color: #3498db !default;*/
/*$toolbar-danger-background-color: #e74c3c !default;*/
/*$toolbar-warning-background-color: #f39c12 !default;*/
/*Toolbar positions*/
/*$include-toolbar-top-position: true !default;*/
/*$include-toolbar-bottom-position: true !default;*/
/*$include-toolbar-left-position: true !default;*/
/*$include-toolbar-right-position: true !default;*/
/*==========Tooltips==========*/
/*@variables*/
/*$tooltip-font-size: 0.68571429rem !default;*/
/*$tooltip-z-index: 1030 !default;*/
/*$tooltip-padding: 0.25714286rem !default;*/
/*$tooltip-inner-padding: 0.45714286rem !default;*/
/*$tooltip-in-opacity: 1 !default;*/
/*$tooltip-color: #2E323E !default;*/
/*$tooltip-font-color: #FFF !default;*/
/*$tooltip-alignment: center !default;*/
/*$tooltip-radius: 0rem !default;*/
/*$tooltip-border-width: 0.64285714rem !default;*/
/*==========Typography==========*/
/*Reset*/
/*@variables*/
/*$typography-line-height: 1.6 !default;*/
/*$typography-reset: true !default;*/
/*Paragraphs settings*/
/*$paragraph-font-weight: inherit !default;*/
/*$paragraph-font-size: px-to-rems(14) !default;*/
/*$paragraph-line-height: 1.5 !default;*/
/*$paragraph-text-rendering: optimizeLegibility !default;*/
/*Lists*/
/*$list-font-size: $paragraph-font-size !default;*/
/*$list-line-height: $paragraph-line-height !default;*/
/*$list-margin-bottom: px-to-rems(20) !default;*/
/*$list-margin-left: px-to-rems(15) !default;*/
/*Data lists*/
/*$data-list-margin-bottom: px-to-rems(20) !default;*/
/*$data-list-line-height: 1.2 !default;*/
/*$data-list-font-weight: bold !default;*/
/*$data-list-data-margin-left: px-to-rems(10) !default;*/
/*Anchors settings*/
/*$anchor-color: #0088cc !default;*/
/*$anchor-text-decoration: none !default;*/
/*$anchor-text-decoration-hover: underline !default;*/
/*Headings settings*/
/*$headings-margin-top: 0.35714286rem !default;*/
/*$headings-margin-bottom: px-to-rems(16) !default;*/
/*$headings-font-weight: 400 !default;*/
/*$headings-line-height: 1.4 !default;*/
/*$headings-text-rendering: optimizeLegibility !default;*/
/*$headings-color: #222 !default;*/
/*$h1-font-size: px-to-rems(36) !default;*/
/*$h2-font-size: px-to-rems(28) !default;*/
/*$h3-font-size: px-to-rems(25) !default;*/
/*$h4-font-size: px-to-rems(20) !default;*/
/*$h5-font-size: px-to-rems(16) !default;*/
/*$h6-font-size: px-to-rems(14) !default;*/
/*small settings*/
/*$small-color: #ecf0f1 !default;*/
/*$small-font-size: 60% !default;*/
/*hr settings*/
/*$hr-color: #DDD !default;*/
/*$hr-style: solid !default;*/
/*$hr-border-width: 0.07142857rem !default;*/
/*$hr-margin-top: px-to-rems(22) !default;*/
/*$hr-margin-bottom: $hr-margin-top !default;*/
/*Blockquote*/
/*$blockquote-color: #777 !default;*/
/*$blockquote-background: lighten(#EFEFEF, 5%) !default;*/
/*$blockquote-line-height: 1.8em !default;*/
/*$blockquote-border-width: 5px !default;*/
/*$blockquote-border-style: solid !default;*/
/*$blockquote-border-color: #DDD !default;*/
/*$blockquote-padding-left: 1.5em !default;*/
/*$blockquote-padding-right: $blockquote-padding-left !default;*/
/*$blockquote-padding-top: 1rem !default;*/
/*$blockquote-padding-bottom: $blockquote-padding-top !default;*/
/*$blockquote-border-primary-color: lighten(#3498d9, 20%) !default;*/
/*$blockquote-border-success-color: lighten(#2ECC71, 20%) !default;*/
/*$blockquote-border-danger-color: lighten(#E74C3C, 20%) !default;*/
/*Media queries*/
/*$medium-screen: 70.85714286rem !default;*/
/*$medium-screen-max: 70.78571429rem !default;*/